 Code
# =========================
.vscode/
.vscode/sftp.json

# =========================
# 2. Python
# =========================
venv/
.venv/
env/
__pycache__/
*.py[cod]
.env

# =========================
# 3. C/C++
# =========================
*.o
*.out
*.exe
# *.bin
*.elf
build/
.pio/

# =========================
# 4. System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# 5. Verilog / EDA (IMPORTANT)
# =========================

# VCS build outputs
simv
simv.daidir/
csrc/
ucli.key
*.log
*.vpd
*.vcd
*.fsdb

# waveform / debug
DVEfiles/
verdiLog/
novas.conf
novas.rc

# temporary / compilation
*.daidir/
*.key

# coverage / misc
urgReport/
*.urg

# =========================
# 6. Optional: keep TB but ignore junk inside
# =========================
# (you DO want to keep .sv testbenches)
# so do NOT ignore *.sv

# but ignore generated folders inside tb_verilog
src/tb_verilog/csrc/
src/tb_verilog/simv*
src/tb_verilog/*.daidir/
src/tb_verilog/ucli.key
