# =========================
# 1. VS Code 
# =========================
.vscode/sftp.json
.vscode/

# =========================
# 2. Python 
# =========================
venv/
.venv/
env/
__pycache__/
*.py[cod]
.env

# =========================
# 3. C/C++ 
# =========================
*.o
*.out
*.exe
*.bin
*.elf
build/
.pio/

# =========================
# 4. System Files
# =========================
.DS_Store       # Mac 系統產生的隱藏檔
Thumbs.db       # Windows 系統產生的縮圖快取